body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 15px;
  width: 500px;
}

button {
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid #6d6dc6;
  background-color: #fffefe92;
}

button:hover,
button:focus {
  background-color: #6d6dc6;
  color: #ffffff;
}

input {
  color: #3a3a94;
}

input:focus {
  outline-color: #6d6dc6;
}
